@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
    overflow-y: scroll;
}

body {
    color: #000;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

::selection {
    background: #62AEC5;
}

nav.topmenu {
    text-align: center;
}

.bodywrapper {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.post {
    /*#DF4562 #C7364B #DC143C*/
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 16px;
}

.post>h1 {
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.author {
    float: right;
    font-size: 60%;
    border: 1px solid;
    padding: 2px 6px 2px 6px;
    border-radius: 4px;
}

.author>.frame {
    font-size: 80%;
}

.toplogowrapper {
    overflow: hidden;
}

.headerwrapper {
    overflow: hidden;
}

.headerwrapper>img {
    border-radius: 4px;
}


h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

h1.contracted {
    text-align: center;
    margin-top: 11.25px;
    margin-bottom: 11.25px;
}

.topmenu>ul {
    border-radius: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topmenu>ul>li {
    float: left;
}

.topmenu>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 22px;
    text-decoration: none;
}

.topmenu>ul>li>a:hover,
.dropdown:hover,
.dropbtn {
    background-color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 4px;
    /*min-width: 160px;*/
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 22px
        /*12px 16px*/
    ;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-radius: 4px;
    background-color: #c2c2c2
        /*#f1f1f1*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu-log-reg {
    float: right;
}

/* search bar */
input[type=text] {
    width: 390px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 10px;
    outline: none;
}

/*people query*/
.lide-filter-box {
    box-sizing: border-box;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: fit-content;
    padding: 12px 12px 12px 12px;
    margin: 10px 0px 10px 0px;
}

.lide-filter-box .lide-filter-button {
    border-radius: 4px;
    font-size: 24px;
    padding: 4px 4px 4px 4px;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

.lide-filter-box .lide-filter-button:hover {
    border-radius: 4px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}

.lide-filter-box .selected {
    /*font-weight:bold;*/
    /*font-size: 26px;*/
    background-color: rgba(204, 204, 204, 0.5);
}

/*seasons*/
.season-box {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: fit-content;
    padding: 12px 12px 12px 12px;
}

.season-box .season-button {
    border-radius: 4px;
    font-size: 24px;
    padding: 4px 4px 4px 4px;
    transition: background-color 0.4s ease;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
}

.season-box .season-button:hover {
    border-radius: 4px;
    background-color: #ccc;
    cursor: pointer;
}

.season-box .selected {
    font-weight: bold;
    font-size: 26px;
}

.content>h1,
#title>h1,
#content>h1 {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
}


footer {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 22px;
    text-decoration: none;
    background-color: #333;
    border-radius: 4px;
}

.zavod {
    border: 1px solid #7DB9B3;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 16px;
    transition: background-color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
}

.zavod:hover {
    background-color: #7DB9B3;
    cursor: pointer;
}

.zavod>h1 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-weight: 300;
    display: inline-block;
    width: 300px;
}

.zavod>h2 {
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    width: 240px;
}

.zavod>p {
    display: inline;
}

.rozhodci {
    border: 1px solid #DC143C;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    margin: 16px;
    transition: background-color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;

}

.rozhodci:hover {
    background-color: #DC143C;
    cursor: pointer;
}

.rozhodci>h1 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-weight: 300;
    display: inline-block;
    width: 130px;
}

/*alignment of name at kluby.php*/
#kluby>.rozhodci>h1 {
    width: 400px;
}

.rozhodci>h2 {
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    min-width: 80px;
}

.rozhodci>p {
    display: inline;
}

/*Tabulka rozhodčích na pozice*/
/*.rozhodcinazavody tr:nth-child(1){
border-bottom: 1pt solid black;
}*/
.rozhodcinazavody {
    /*margin-bottom: 30px;*/
}

.rozhodcinazavody .rozhodcihlavicka th {
    /*border: 1px solid #C7364B;*/
    padding: 4px;
}

.rozhodcinazavody th {
    font-weight: 300;
    font-size: 26px;
}

.rozhodcinazavody tr:nth-child(odd) td {
    border-radius: 4px;
    padding: 2px;
    /*border-bottom: 1px solid /*#C7364B*/
    /*#333333;*/
    /*background-color: #C7364B;*/
}

.rozhodcinazavody tr:nth-child(even) td {
    border-radius: 4px;
    padding: 2px;
    /*border-bottom: 1px solid #7DB9B3  /*#333333*/
    ;
    background-color: #7DB9B3;
}

/*Tabulka počtů účastí*/
.statistikysezona {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
}

.statistikysezona .statistikyhlavicka th {
    /*border: 1px solid #C7364B;*/
    padding: 4px;
}

.statistikysezona th {
    font-weight: 300;
    font-size: 26px;
}

.statistikysezona tr:nth-child(odd) td {
    border-radius: 4px;
    padding: 2px;
    /*border-bottom: 1px solid /*#C7364B*/
    /*#333333;*/
    /*background-color: #C7364B;*/
}

.statistikysezona tr:nth-child(even) td {
    border-radius: 4px;
    padding: 2px;
    /*border-bottom: 1px solid #7DB9B3  /*#333333*/
    ;
    background-color: #DC143C;
}

.dalsiAktualita {
    /*background-color: #7DB9B3;*/
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 6px 32px;
    font-family: Roboto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.registeredOne {
    /*border: 2px solid #8CA833;*/
    border: 2px solid #7DB9B3;
    border-radius: 4px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    white-space: nowrap;
}


.unRegisteredOne {
    text-decoration: line-through;
    border: 2px solid #CC0000;
    border-radius: 4px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    white-space: nowrap;
}


@media (max-width: 768px) {
    .topmenu>ul>li {
        float: unset;
    }

    .zavod>h1 {
        width: 100%;
        margin-bottom: 0px;
    }

    .zavod>h2 {
        /*vymazat prasacky html aligny!!! style="text-align:center"*/
        width: 100%;
        margin: 5px 0px 5px 0px;
    }

    #menu-log-reg {
        float: none;
    }

    /*nabidky pod ::before |*/
    /*float center*/
}

@media print {

    /*hide shit*/
    .content,
    .content * {
        visibility: visible;
    }

    .headerwrapper * {
        height: 1px;
        visibility: hidden;
    }

    .topmenu * {
        height: 1px;
        visibility: hidden;
    }

    #overlogo img {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .registeredOne {
        /* hotfix collapsing lines */
    }

    #roky-box * {
        height: 1px;
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }
}

@page {
    size: auto;
    margin: 0mm;
}